In [1]:
import pandas as pd

import numpy as np

import seaborn as sns

In [3]:
iris = sns.load_dataset('iris')

In [6]:
iris.drop(labels = 'species', axis = 1, inplace = True)

In [7]:
iris

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [8]:
iris['sepal_sum'] = iris['sepal_length'] + iris['sepal_width']
iris

     sepal_length  sepal_width  petal_length  petal_width  sepal_sum
0             5.1          3.5           1.4          0.2        8.6
1             4.9          3.0           1.4          0.2        7.9
2             4.7          3.2           1.3          0.2        7.9
3             4.6          3.1           1.5          0.2        7.7
4             5.0          3.6           1.4          0.2        8.6
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3        9.7
146           6.3          2.5           5.0          1.9        8.8
147           6.5          3.0           5.2          2.0        9.5
148           6.2          3.4           5.4          2.3        9.6
149           5.9          3.0           5.1          1.8        8.9

[150 rows x 5 columns]

In [9]:
iris['petal_sum'] = iris['petal_length'] + iris['petal_width']
iris

,sepal_length,sepal_width,petal_length,petal_width,sepal_sum,petal_sum
0,5.1,3.5,1.4,0.2,8.6,1.6
1,4.9,3.0,1.4,0.2,7.9,1.6
2,4.7,3.2,1.3,0.2,7.9,1.5
3,4.6,3.1,1.5,0.2,7.7,1.7
4,5.0,3.6,1.4,0.2,8.6,1.6
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,9.7,7.5
146,6.3,2.5,5.0,1.9,8.8,6.9
147,6.5,3.0,5.2,2.0,9.5,7.2
148,6.2,3.4,5.4,2.3,9.6,7.7
149,5.9,3.0,5.1,1.8,8.9,6.9

In [17]:
summary_dfs = pd.DataFrame(data = {'mean':[np.mean(iris['sepal_length']), np.mean(iris['sepal_width']), np.mean(iris['sepal_sum']), np.mean(iris['petal_length']), np.mean(iris['petal_width']), np.mean(iris['petal_sum'])],
                                  'std':[np.std(iris['sepal_length']), np.std(iris['sepal_width']), np.std(iris['sepal_sum']), np.std(iris['petal_length']), np.std(iris['petal_width']), np.std(iris['petal_sum'])],
                                  'min':[np.min(iris['sepal_length']), np.min(iris['sepal_width']), np.min(iris['sepal_sum']), np.min(iris['petal_length']), np.min(iris['petal_width']), np.min(iris['petal_sum'])],
                                  'max':[np.max(iris['sepal_length']), np.max(iris['sepal_width']), np.max(iris['sepal_sum']), np.max(iris['petal_length']), np.max(iris['petal_width']), np.max(iris['petal_sum'])]},
                                  index=['Sepal Length', 'Sepal Width', 'Sepal Sum', 'Petal Length', 'Petal Width', 'Petal Sum'])

In [18]:
summary_dfs

                  mean       std  min   max
Sepal Length  5.843333  0.825301  4.3   7.9
Sepal Width   3.057333  0.434411  2.0   4.4
Sepal Sum     8.900667  0.886303  6.8  11.7
Petal Length  3.758000  1.759404  1.0   6.9
Petal Width   1.199333  0.759693  0.1   2.5
Petal Sum     4.957333  2.499316  1.2   9.2